#   RPC_SECRET=$(openssl rand -hex 32)
#   ADMIN_TOKEN=$(openssl rand -base64 32)
#   METRICS_TOKEN=$(openssl rand -base64 32)
#   GARAGE_DEFAULT_ACCESS_KEY=GK$(openssl rand -hex 16)
#   GARAGE_DEFAULT_SECRET_KEY=$(openssl rand -hex 32)

RPC_SECRET=СЮДА_64_СИМВОЛА_HEX
ADMIN_TOKEN=СЮДА_ТОКЕН
METRICS_TOKEN=СЮДА_ТОКЕН
GARAGE_DEFAULT_ACCESS_KEY=GKСЮДА_32_СИМВОЛА_HEX
GARAGE_DEFAULT_SECRET_KEY=СЮДА_64_СИМВОЛА_HEX

# Необязательные (значения по умолчанию):
# GARAGE_DEFAULT_BUCKET=default-bucket
# S3_REGION=garage
# S3_ROOT_DOMAIN=.s3.garage.localhost
# WEB_ROOT_DOMAIN=.web.garage.localhost
# DATA_DIR=/var/lib/garage/data
# META_DIR=/var/lib/garage/meta
